<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="endpoint" value="https://studentsapi.documents.azure.com:443/" />
    <add key="authKey" value="3iwrLAXlZmKjaFC5L3zABDQNqAcyOaaUjWtcPFtDSV4LpNEmHz8xyNUt1ddG9lmh8xmBK71LOhvxB8a2mB9wrg==" />
    <add key="database" value="StudentsDB" />
    <add key="collection" value="Students" />
    <add key="EmailPassword" value="Oros123456789" />
    <add key="EmailAddress" value="azuredb123@gmail.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>